<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d8d3f55a-8679-4dad-bbe3-3b851100c78e/resourceGroups/rg-MobileEnablementServices/providers/Microsoft.ApiManagement/service/RecordName/apis/ryn-register-user</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d8d3f55a-8679-4dad-bbe3-3b851100c78e/resourceGroups/rg-MobileEnablementServices/providers/Microsoft.Web/sites/RecordYourNameAPI20220516134424</ResourceId>
    <ResourceGroup>rg-MobileEnablementServices</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://recordyournameapi20220516134424.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>04a40076-02b6-409f-8028-2b30e07a1190</ProjectGuid>
    <PublishUrl>https://recordyournameapi20220516134424.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RecordYourNameAPI20220516134424</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>