<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d8d3f55a-8679-4dad-bbe3-3b851100c78e/resourceGroups/rg-MobileEnablementServices/providers/Microsoft.ApiManagement/service/RecordName/apis/upload</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d8d3f55a-8679-4dad-bbe3-3b851100c78e/resourceGroups/rg-MobileEnablementServices/providers/Microsoft.Web/sites/UploadFilesServer20220513161235</ResourceId>
    <ResourceGroup>rg-MobileEnablementServices</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://uploadfilesserver20220513161235.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6d8b33e3-f6e4-435a-8431-238a77ad4f6a</ProjectGuid>
    <PublishUrl>https://uploadfilesserver20220513161235.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UploadFilesServer20220513161235</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>